* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    user-select: none;
    background-color: #111;
}

#container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#container canvas {
    cursor: none;
}
